@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-05;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.welcome {
  @include type.type-style('heading-04');
  margin: layout.$spacing-05 0;
}

.explainer {
  margin-bottom: layout.$spacing-07;
}
